<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TestLibrary.Properties.Settings>
            <setting name="UserKey" serializeAs="String">
                <value>TestLibraryUserKey</value>
            </setting>
        </TestLibrary.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <TestLibrary.Properties.Settings>
            <setting name="ApplicationKey" serializeAs="String">
                <value>TestLibraryApplicationKey</value>
            </setting>
        </TestLibrary.Properties.Settings>
    </applicationSettings>
</configuration>