<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestApp.Agent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TestApp.Agent.Properties.Settings>
            <setting name="ProductName" serializeAs="String">
                <value>Dell Data Protection</value>
            </setting>
            <setting name="ProductVersion" serializeAs="String">
                <value>1.0</value>
            </setting>
        </TestApp.Agent.Properties.Settings>
    </applicationSettings>
</configuration>

