<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <!--<system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AssetServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://xserv.dell.com/services/assetservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="AssetServiceSoap"
                contract="ServiceReference1.AssetServiceSoap" name="AssetServiceSoap" />
        </client>
    </system.serviceModel>-->
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AssetServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://xserv.dell.com/services/assetservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="AssetServiceSoap"
                contract="JigSaw.AssetServiceSoap" name="AssetServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>